<h1>Stock Analysis:</h1>

<h2>Current Stock Cost Price: <%= @stock_cost %></h2>

<h2>Total Available Stock Profit: <%= @stock_profit %></h2>

<h2>Total Quantity Of Albums In Stock: <%= @stock_quantity %></h2>

<div style="color: red">
  <ul>
    <li>
      <h3>Dude, these items are super low!</h3>
      <% @stock_very_low.each do |item| %>
      <p><%= item.artist.name %></p>
      <p><%= item.album.title %></p>
      <p>Quantity: <%= item.quantity %></p>
      <p>Stock ID: <%= item.id %></p>
      <a href="/stock/new">Order More Now</a>
      <% end %>
    </li>
  </ul>
</div>
<br><br>
<div style="color: orange">
  <ul>
    <li>
      <h3>These items are fairly low.</h3>
      <% @stock_low.each do |item| %>
      <p><%= item.artist.name %></p>
      <p><%= item.album.title %></p>
      <p>Quntity: <%= item.quantity %></p>
      <p>Stock ID: <%= item.id %></p>
      <a href="/stock/new">Order More Now</a>
  <% end %>
    </li>
  </ul>
</div>
<br><br>
<h1>Current stock:</h1>

<%  @stock.each do |item| %>
<b>Artist:</b>
<%= item.artist.name %>
<br><br>
<b>Album:</b>
<%= item.album.title %>
<br><br>
<b>Quantity</b>
<%= item.quantity %>
<br><br>
<b>Stock Level:</b>
<%= item.stock_level %>
<br><br>
<b>Markup:</b>
<%= item.markup %>
<br><br>
<b>Total Item Profit:</b>
<%= item.total_item_profit %>
<br><br>
<b>Stock Id:</b>
<%= item.id %>
<br><br>
<a href="stock/<%= item.id %>/edit">Edit Stock</a>
<br>
<p>---------------------------------</p>
<% end %>
