<h1>Current stock:</h1>

<%  @stock.each do |item| %>
<b>Stock Id:</b>
<%= item.id %>
<br><br>
<b>Artist:</b>
<%= item.artist.name %>
<br><br>
<b>Album:</b>
<%= item.album.title %>
<br><br>
<b>Quantity</b>
<%= item.quantity %>
<br><br>
<b>Stock Level:</b>
<%= item.stock_level %>
<br><br>
<b>Markup:</b>
<%= item.markup %>
<br><br>
<b>Total Item Profit:</b>
<%= item.total_item_profit %>
<hr>
<% end %>