<h1>You have <%= @stock.quantity %> copies of <%= @stock.album.title %> by <%= @stock.album.artist.name %>.</h1>

<a href="/stock/<%= @stock.id %>/edit">Edit stock item</a>
<br><br><br>
<form action="/stock/<%= @stock.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Stock">
</form>