<h1>Please edit album details.</h1>

<form action="/albums/<%= @album.id %>" method="post">
  <label for="title">Album Title:</label>
  <input type="text" name="title" id="title" value="<%= @album.title %>">
  <label for="artist">Artist:</label>
  <select name="artist_id" id="artist">
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>
  <label for="year">Year:</label>
  <input type="number" min="1920" name="year" id="year" value="<%= @album.year %>">

  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update Album">
</form>