<br>
<a href="/albums/new">>>Add New Album<<</a>

<h1>These are your current albums:</h1>

<% @albums.each do |album| %>
  <b>Album Title:</b>
  <%= album.title %>
  <br><br>
  <b>Artist:</b>
  <%= album.artist.name %>
  <br><br>
  <b>Year:</b>
  <%= album.year %>
  <br><br>
  <b>Genre:</b>
  <%= album.genre %>
  <br><br>
  <a href="albums/<%= album.id %>">Go To Album</a>
  <br><br>
  <a href="artists/<%= album.artist.id %>">Go To Artist</a>
  <br>
  <p>---------------------------------</p>
<% end %>
