<h1>You have the following albums:</h1>

<% @albums.each do |album| %>
  <b>Album Title:</b>
  <%= album.title %>
  <br><br>
  <b>Artist:</b>
  <%= album.artist.name %>
  <br><br>
  <b>Year:</b>
  <%= album.year %>
  <br><br>
  <b>Quantity:</b>
  <%= album.stock_orders.quantity %>
  <br><br>
  <a href="albums/<%= album.id %>">Go To Album</a>
  <br><br>
  <a href="artists/<%= album.artist.id %>">Go To Artist</a>
  <br>
  <p>---------------------------------</p>
<% end %>
