<h1>Please edit artists details.</h1>

<form action="/artists/<%= @artist.id %>" method="post">
  <label for="name">Artists Name:</label>
  <input type="text" name="name" id="name" value="<%= @artist.name %>">
  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="Group">Group</option>
    <option value="Solo Artist">Solo Artist</option>
  </select>
  <label for="genre">Genre:</label>
  <select name="genre" id="genre">
    <% @genres.each do |genre| %>
    <option value="<%= genre.genre %>"<%= 'selected' if @artist.genre == genre.genre %>><%= genre.genre %></option>
    <% end %>
  </select>
  
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update Artist">
</form>